body {
  margin: 50;
  padding: 10;
  font-family: sans-serif;
}

.Minesweeper {
  width: 500px;
  /* height: 600px; */
  border: 1px solid black;
}

.board {
  width: 500px;
  height: 500px;
  /* border: 1px solid #444; */
  border-bottom: none;
}

.board-head {
  display: flex;
  flex-direction: row;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  /* border-left: 1px solid #444; */
  /* border-right: 1px solid #444; */
}

.board-head .reset,
.board-head .flag-count,
.board-head .timer {
  width: 55px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board .row {
  display: flex;
  height: 50px;
}
.board .row:last-child {
  border-bottom: none;
  height: 50px;
}
.board .row .cell {
  border-right: 1px solid #444;
  width: 49px;
  display: flex;
  flex-direction: row;
  border: 1px solid #444;
}

.board .row .cell:hover {
  background-color: #ddd;
}

.board .row .cell.open {
  background-color: #d4d4d4;
}

.board .row .cell.open:hover {
  background-color: #d4d4d4;
}

.board .row .cell:last-child {
  border-right: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

html,
body {
  height: 100%;
}

html #root,
body #root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
